.Puzzle-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
}

.Puzzle-cell {
  padding: 10px 10px 10px 10px;
  border: solid;
  border-width: 1px;
  border-color: gray;
  user-select: none;
}

.Puzzle-cell:hover {
  background-color:gray;
}